
        <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h5">Avatar</h1>
                    <p>SE</p>
                </div>
            </div>


            <!-- Sidebar Navidation Menus-->
            <span class="heading">Main</span>
            <ul class="list-unstyled">
                <li> <a href="/home" class="color_expan "> <i class="icon-home "></i>Home</a></li>
            </ul>
            <ul class="list-unstyled ">
                <li>
                <a href="#exampledropdownDropdown2" data-toggle="collapse" aria-expanded="false">
                <i class="icon-padnote"></i>Companies</a>
                <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                    <li><a href="/company/new">Create</a></li>
                    <li><a href="/company/list">List</a></li>
                </ul>
            </li>
            </ul>
            {{!-- <ul class="list-unstyled ">
                <li data-toggle="modal " data-target="#database "> <a href="# "> <i class="icon-cloud "></i>Database</a>
                </li>
            </ul> --}}
            <span class="heading ">Masters</span>
            <ul class="list-unstyled ">

                 <li>
                    <a href="#exampledropdownDropdown0" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-padnote"></i>Items</a>
                    <ul id="exampledropdownDropdown0" class="collapse list-unstyled ">
                        <li><a href="/item/new">Create</a></li>
                        <li><a href="/item/list">List</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#exampledropdownDropdown1" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-padnote"></i>Party</a>
                    <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                        <li><a href="/party/new">Create</a></li>
                        <li><a href="/party/list">List</a></li>
                    </ul>
                </li>
            </ul>


            <span class="heading" style="margin-top: 15px;">Invoice</span>
            <ul class="list-unstyled">
                <li>
                    <a href="/invoice/new"> <i class="icon-chart"></i>Create</a>
                </li>
                <li>
                    <a href="/invoice/list"> <i class="icon-chart"></i>List </a>
                </li>
                {{!-- <li>
                    <a href="/invoice/serialList"> <i class="icon-chart"></i>Serial No. List</a>
                </li> --}}
            </ul>
        </nav>
        <!-- Sidebar Navigation end-->