    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h5">Avatar</h1>
                    <p>SE</p>
                </div>
            </div>


            <!-- Sidebar Navidation Menus-->
            <span class="heading">Main</span>
            <ul class="list-unstyled">
                <li> <a href="#" class="color_expan "> <i class="icon-home "></i>Home</a></i>
            </ul>
            <ul class="list-unstyled ">
                <li> <a href="/company"> <i class="icon-presentation "></i>Company</a></li>
            </ul>
            <ul class="list-unstyled ">
                <li data-toggle="modal " data-target="#database "> <a href="# "> <i class="icon-cloud "></i>Database</a>
                </li>
            </ul>
            <span class="heading ">Masters</span>
            <ul class="list-unstyled ">


                <li><a href="#exampledropdownDropdown0 " aria-expanded="false " data-toggle="collapse ">
                        <i class="icon-padnote "></i>Items</a>
                    <ul id="exampledropdownDropdown0 " class="collapse list-unstyled ">
                        <li> <a href="/item"> Create</a></li>
                        <li><a href="#">List</a> </li>
                    </ul>
                </li>

                <li>
                    <a href="#exampledropdownDropdown1" data-toggle="collapse" aria-expanded="false">
                        <i class="icon-padnote"></i>Party</a>
                    <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                        <li><a href="/party">Create</a></li>
                        <li><a href="#">List</a></li>
                    </ul>
                </li>
            </ul>


            <span class="heading" style="margin-top: 15px;">Invoice</span>
            <ul class="list-unstyled">
                <li>
                    <a href="#"> <i class="icon-chart"></i>Create</a>
                </li>
                <li>
                    <a href="#"> <i class="icon-chart"></i>List </a>
                </li>
                <li>
                    <a href="#"> <i class="icon-chart"></i>Serial No. List</a>
                </li>
            </ul>
        </nav>
        <!-- Sidebar Navigation end-->