<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} | Easy Accounting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet"-->
    <!-- Font Awesome CSS-->
    <!--script src="https://use.fontawesome.com/a9bf2315aa.js"></script-->
    <!-- Custom Font Icons CSS-->
    <!--link rel="stylesheet" href="css/font.css"-->
    <!-- Google fonts - Muli-->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700"-->
    <!-- theme stylesheet-->
    <!--link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet"-->
    <!-- Custom stylesheet - for your changes-->
    <!--link rel="stylesheet" href="css/custom.css"-->
    <!-- Favicon-->
    <!--link rel="shortcut icon" href="img/favicon.jpg"-->
    <!--link rel="stylesheet" href="css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="DataTables/datatables.min.css"-->
    
     <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="css/font.css">
    <!-- Google fonts - Muli-->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700"-->
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="DataTables/datatables.min.css">
</head> 
