<!doctype html>

<head>

    <!-- Meta tags & title /-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Easy Accounting - An Easy to Use Free Responsive WebApp</title>
    <meta name="description" content="This is Easy Accounting Website" />
    <meta name="keywords" content="Easy, Elegant, Accounting" />
    <meta name="Easy_Account" content="">

    <!-- Favicon /-->
    <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon" />
    <!-- Favicon /-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Stylesheets /-->
    <link rel="stylesheet" href="css/gumby.css">
    <!-- Gumby Framework /-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Main stylesheet /-->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Animations /-->

    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- Modernizr /-->

</head>


<body>

    <!-- Preload the Whole Page -->

    <div id="preloader">
        <div id="loading-animation">&nbsp;</div>
    </div>
    <!-- NAVIGATION ############################################### -->

    <div class="cbp-af-header">
        <nav>
            <!-- Logo -->

            <div id="logo">

                <a href="#"><img alt="Logo" src="img/logo.jpg"></a>

            </div>

            <!-- Links -->

            <ul id="nav">
                
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register" >Register</a></li>
                
            </ul>

        </nav>


    </div>

    <!-- END NAVIGATION ############################################### -->


    <!-- HEADER / FIRST SECTION ############################################### -->


    <section class="page1">

        <!-- Huge Title centered -->

        <div class="huge-title centered">

            <div class="logo-phone centered"><img alt="YOURLOGO" src="img/logo-phone.png"></div>
            <!-- This Logo is only displayed on Tablet/iPhone !-->

            <h1>A Simple & Easy To Use Free App For All <br>Your Account And Bussiness Management</h1>

            <div class="space"></div>

            <a href="#container" class="button-white goto">Discover more</a>

        </div>

        <!-- IMG DISCOVER MORE -->

        <div class="go-down twelve columns">

            <a href="#container" class="goto"><img src="img/down.png" alt="MORE"></a>

        </div>

    </section>


    <!-- END HEADER ############################################### -->



    <!-- BEGIN CONTAINER ############################################### -->


    <div id="container" class="container">


        <!-- SECOND SECTION ############################################### -->


        <section class="page2">

            <div class="row">

                <div class="six columns article make-it-appear-right">

                    <!-- Title -->

                    <h3>A Elegant Design</h3>

                    <!-- Content -->

                    <p>Our website plans to please the users with an awe-inspiring interface which meets all their requirements at the same time. It would be sleek, minimalist and optimal at the same time.
                    </p>
                    <div class="space"></div>

                    <a href="/login" class="js-open-modal button-blue">Login</a>


                </div>

                <!-- Image from right -->

                <div class="five columns picture make-it-appear-left">

                    <img src="img/1.png" alt="EXEMPLE">

                </div>

            </div>
            <!-- End row div -->

        </section>

        <!-- END SECOND SECTION ############################################### -->




        <!-- TIRTH SECTION ############################################### -->


        <section class="page3">

            <div class="row">

                <!-- Image from left -->

                <div class="five columns picture make-it-appear-right">

                    <img src="img/2.png" alt="EXEMPLE">

                </div>


                <div class="six columns article make-it-appear-left">

                    <!-- Title -->

                    <h3>Pretty easy to customize</h3>

                    <!-- Content -->

                    <p>Our website is designed in such way that it can be very easily customised and molded in such a way as to suit all the requirements of the user. We have a wide range of options to choose from, to change the style in which the user can
                        design their needs.</p>
                    <div class="space"></div>

                    <a href="/register" class="js-open-modal button-green">Register</a>

                </div>


            </div>
            <!-- End row div -->
        </section>

        <!-- END TIRTH SECTION ############################################### -->



        <!-- Modal Window -->

        <div class='modal' id='modal'>

            <div class='modal-content modal-anim--three'>

                <!--iframe src="//player.vimeo.com/video/64291127?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="560" height="306" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
-->
            </div>

        </div>



        <!-- FOURTH SECTION ############################################### -->



        <section class="page4">

            <div class="row">

                <div class="four columns article make-it-appear-right">

                    <!-- Title -->

                    <h3>Pretty Simple and Detailed Code.</h3>

                    <!-- Content -->

                    <p>Here is the simple exemple of the next section, as you can see, everything is pretty well detailed and easy to understand.</p>

                    <div class="space"></div>


                </div>

                <!-- Image -->

                <div class="seven columns picture make-it-appear-left">

                    <pre>
		    	<!-- Article centered on the Page --> 
		
				<div class="twelve columns centered make-it-appear-top">

					<!-- Title --> 
				
					<h4>Finally! Simple and fair pricing.</h4>
													
					<!-- Content --> 
				
				
					<div class="cost">
						<p class="symbol">₹</p>
						<p class="value">0</p>
					</div>
					
	
				</div>
</pre>

                </div>

            </div>
            <!-- End row div -->

        </section>


        <!-- END FOURTH SECTION ############################################### -->



        <!-- FIFTH SECTION ############################################### -->


        <section class="page5">


            <div class="row">

                <!-- Article centered on the Page -->

                <div class="twelve columns centered make-it-appear-top">

                    <!-- Title -->

                    <h4>Finally! Simple and fair pricing.</h4>

                    <!-- Content -->

                    <h1>₹0</h1>



                </div>


            </div>


        </section>


        <!-- END FIFTH SECTION ############################################### -->


        <!-- FOOTER SECTION ############################################### -->


        <section class="footer">


            <div class="row">

                <!-- Article centered on the Page -->

                <div class="nine columns centered">

                    <!-- Nav Footer -->

                    <!-- Title -->

                    <p class="copyright">Easy Accounting is a free app landing website and is under CC License <br>© Copyright 2019 Easy Accounting. All rights reserved.</p>

                    <!-- Logo -->


                    <img class="logo" src="img/logo.jpg" alt="Logo">

                </div>


            </div>


        </section>


        <!-- END FOOTER SECTION ############################################### -->





    </div>
    <!-- end of container -->


    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')
    </script>

    <script src="js/main.js" type="text/javascript"></script>
    <!-- Main Javascript File -->
    <script src="js/classie.js" type="text/javascript"></script>
    <!-- Scroll from left & right -->
    <script src="js/waypoints.min.js" type="text/javascript"></script>
    <!-- Waypoints -->
    <script src="js/jquery.scrollto.js" type="text/javascript"></script>
    <!-- ScrollTo -->
    <script src="js/mediaCheck.js" type="text/javascript"></script>
    <!-- MediaCheck -->


</body>

</html>